[Unit]
Description=logs the storage capacity used for filesystem
Wants=file-check.timer

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/file-check/file-check.sh

[Install]
WantedBy=multi-user.target