[Unit]
Description=Timer for: file-check.service
Requires=file-check.service

[Timer]
Unit=file-check.service
# Run the timer, every hour, on the hour
OnCalendar=*-*-* *:16:00

[Install]
WantedBy=timers.target